.button--button {
  border: none;
  background: var(--blue);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-size: var(--medium);
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 8px 16px;
  text-transform: uppercase;
}
