.hero--contentContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.hero--image {
  width: 100%;
  filter: contrast(125%) brightness(80%);
}
.hero--parent {
  position: relative;
  background-color: var(--veryLightGrey);
}
.hero--title {
  color: var(--white);
  font-size: 36px;
  animation: fadeIn 0.5s ease-in 1 forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

/* laptops and above breakpoint */
@media only screen and (min-width: 1024px) {
  .hero--title {
    font-size: var(--hero);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
