.stats--parent {
  display: flex;
  padding: 10px 0;
}
.stats--child {
  padding-right: 3px;
}
.stats--text {
  color: rgba(var(--darkBlueTransparent), 0.8);
  font-size: var(--small);
  font-weight: 700;
  letter-spacing: 0.3px;
}
